@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#teletype {
  font-family: monospace;
  font-size: 2rem;
  display: block;
  width: 33rem;
}

#teletype span {
  -webkit-animation: blink 1s step-end infinite;
          animation: blink 1s step-end infinite;
}

form {
  background: #333;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

#typer {
  padding: .4rem;
  font-size: inherit;
  width: 36rem;
}

input[type="submit"] {
  font-size: inherit;
  display: inline-block;
  padding: .3rem;
}

.hideaway {
  -webkit-transform: translateY(5vw);
          transform: translateY(5vw);
}
